<p id="notice"><%= notice %></p>

<h1>Rings</h1>

<table>
  <thead>
    <tr>
      <th>Maximum transmission power</th>
      <th>Baud rate</th>
      <th>Receiver sensitivity</th>
      <th>Effective receiver band</th>
      <th>Codification</th>
      <th>Link distance</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @rings.each do |ring| %>
      <tr>
        <td><%= ring.maximum_transmission_power %></td>
        <td><%= ring.baud_rate %></td>
        <td><%= ring.receiver_sensitivity %></td>
        <td><%= ring.effective_receiver_band %></td>
        <td><%= ring.codification %></td>
        <td><%= ring.link_distance %></td>
        <td><%= link_to 'Show', ring %></td>
        <td><%= link_to 'Edit', edit_ring_path(ring) %></td>
        <td><%= link_to 'Destroy', ring, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Ring', new_ring_path %>
